@media (max-width: 767px) {
  .navbar-mobile {
      padding: 40px; /* Adiciona 40 pixels de espaço ao redor da nav em mobile */
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.destaques-word {
  font-family: 'Varela Round', Arial, Helvetica, sans-serif;
  font-size: larger;
  margin-top: 5%;
  color: #3DCD58;
}


body {
  background-color: #f9f9f9;
}

.text-secondary:hover {
    background-color: #cbcbcb;
}


.bg-light-gray {
  background-color: #f1f1f1;
  border: 0.5px solid #ccc;
}

.text-color-green-xp {
  color: #3DCD58
}

.text-area {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  overflow: auto;
}

.text-area:focus {
  outline: none;
  border-color: #3DCD58;
  box-shadow: 0 0 5px rgba(24, 300, 30, 0.5);
}

.anex-image {
  width: 1.5rem;
  cursor: pointer;
}

.submit-image {
  width: 2rem;
  cursor: pointer;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1rem;
}

.icons small{
  font-size: 0.8rem;
}

.options-category:hover {
  background-color: #3DCD58;
  cursor: pointer;
  transition: 0.5s;
}

.options-category-spacing {
  margin: 20%;
  padding:20%
}

/* Defina um tamanho personalizado para a imagem */
.image-fit {
  width: 100%; /* Ajuste o valor conforme necessário */
  height: 80%; /* Isso garante que a altura seja ajustada proporcionalmente à largura */
}
