.nav-bar-items{ 
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 2rem;
}

.nav-bar-items li {
  list-style: none;
  padding: 1rem 0;
}

.nav-bar-items li a{
  padding: 1rem;
  text-decoration: none;
  color:#535353
}

.nav-bar-items li:hover {
  cursor: pointer;
  background-color: #F1F1F1;
}

.active {
  background-color: #F1F1F1;
  border-bottom: 3px solid #3DCD58;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f9f9f9;
}


.bg-light-gray {
  background-color: #f1f1f1;
}

.text-color-green-xp {
  color: #3DCD58
}

.text-area {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  overflow: auto;
}

.text-area:focus {
  outline: none;
  border-color: #3DCD58;
  box-shadow: 0 0 5px rgba(24, 300, 30, 0.5);
}

.anex-image {
  width: 1.5rem;
  cursor: pointer;
}

.submit-image {
  width: 2rem;
  cursor: pointer;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1rem;
}

.icons small{
  font-size: 0.8rem;
}

.options-category:hover {
  background-color: #3DCD58;
  cursor: pointer;
  transition: 0.5s;
}

.footer {
  background: #ffffff;
  width: 1260px;
  height: 200px;
  position: absolute;
  left: 0px;
  top: 1470px;
}

.calendar-image {
  position: absolute;
  inset: 0;
}

.rectangle-calendar {
  border-radius: 5px;
  border-style: solid;
  border-color: #e0dfdc;
  border-width: 0.9px;
  width: 245px;
  height: 270px;
  position: absolute;
  left: 998px;
  top: 141px;
}

.calendar-image-dimensions {
  width: 228px;
  height: 246px;
  position: absolute;
  left: 1010px;
  top: 155px;
}

.rectangle-first-profile {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #e0dfdc;
  border-width: 1px;
  width: 781px;
  height: 443px;
  position: absolute;
  left: 202px;
  top: 141px;
}

.line-profile-2 {
  border-style: solid;
  border-color: #e0dfdc;
  border-width: 1px 0 0 0;
  width: 781px;
  height: 0px;
  position: absolute;
  left: 202px;
  top: 535px;
}

.inicio {
  color: #3dcd58;
  text-align: center;
  font: 700 16px "Segoe UI", sans-serif;
  position: absolute;
  left: 210px;
  top: 535px;
  width: 80px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.premiacoes {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font: 600 16px "Segoe UI", sans-serif;
  position: absolute;
  left: 295px;
  top: 536px;
  width: 153px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sobre {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font: 600 16px "Segoe UI", sans-serif;
  position: absolute;
  left: 448px;
  top: 536px;
  width: 75px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.publicacoes {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font: 600 16px "Segoe UI", sans-serif;
  position: absolute;
  left: 543px;
  top: 535px;
  width: 116px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mais {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  position: absolute;
  left: 679px;
  top: 535px;
  width: 66px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mais-span {
  color: rgba(0, 0, 0, 0.6);
  font: 600 16px "Segoe UI", sans-serif;
}

.mais-span2 {
  color: rgba(0, 0, 0, 0.6);
  font: 400 10px "Segoe UI", sans-serif;
}

.mais-span3 {
  color: rgba(0, 0, 0, 0.6);
  font: 600 16px "Segoe UI", sans-serif;
}

.underline-text-profile {
  background: #3dcd58;
  border-radius: 2px 2px 0px 0px;
  width: 80px;
  height: 2px;
  position: absolute;
  left: 210px;
  top: 581px;
}

.follow-text-more-profile {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: 227px;
  top: 481px;
}

.frame-49 {
  border-radius: 20px;
  border-style: solid;
  border-color: #009bd6;
  border-width: 1px;
  padding: 6px 34px 6px 34px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.vector5 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

.seguir {
  color: #009bd6;
  text-align: left;
  font: 600 16px "Segoe UI", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.seguir-button:hover {
  background-color: #3dcd58 ;
}

.mensagem-button {
  cursor: pointer;
  background: #009bd6;
  border-radius: 20px;
  padding: 6px 39px 6px 39px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.mensagem-button:hover {
  background-color: #3dcd58 ;
}

.convite {
  color: #ffffff;
  text-align: left;
  font: 600 16px "Segoe UI", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mais-button {
  border-radius: 20px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.6);
  border-width: 1px;
  padding: 6px 19px 6px 19px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
}

.mais2 {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font: 600 16px "Segoe UI", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.person-profile-image-3 {
  background: linear-gradient(to left, #b5b5b5, #b5b5b5);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 227px;
  top: 431px;
}

.person-profile-image-2 {
  background: linear-gradient(to left, #8d8d8d, #8d8d8d);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 245px;
  top: 431px;
}

.person-profile-image-1 {
  background: linear-gradient(to left, #6c6c6c, #6c6c6c);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 263px;
  top: 431px;
}

._189-seguidores {
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  font: 400 14px/15px "Segoe UI", sans-serif;
  position: absolute;
  left: 301px;
  top: 431px;
  width: 542px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.profile-first-text {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 227px;
  top: 394px;
}

.estagiaria-profile-text {
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  font: 400 14px "Segoe UI", sans-serif;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._189-seguidores2 {
  flex-shrink: 0;
  width: 194px;
  height: 22px;
  position: relative;
}

._189-seguidores3 {
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  font: 400 14px/15px "Segoe UI", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 194px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ela-dela {
  color: rgba(0, 0, 0, 0.9);
  text-align: left;
  font: 400 16px "Segoe UI", sans-serif;
  position: absolute;
  left: 227px;
  top: 366px;
  width: 413px;
  height: 27px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.joana-ramos-profile-name {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 227px;
  top: 344px;
}

.joana-ramos-profile-name2 {
  color: #000000;
  text-align: left;
  font: 600 24px/20px "Segoe UI", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.background-image-profile {
  background: linear-gradient(to left, #e0e0e0, #e0e0e0);
  border-radius: 8px 8px 0px 0px;
  width: 781px;
  height: 135px;
  position: absolute;
  left: 202px;
  top: 141px;
}

.rectangle-profile {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #e0dfdc;
  border-width: 1px;
  width: 781px;
  height: 180px;
  position: absolute;
  left: 202px;
  top: 599px;
}

.ver-todos-os-detalhes {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font: 600 16px "Segoe UI", sans-serif;
  position: absolute;
  left: 202px;
  top: 730px;
  width: 781px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line-profile {
  border-style: solid;
  border-color: #e0dfdc;
  border-width: 1px 0 0 0;
  width: 781px;
  height: 0px;
  position: absolute;
  left: 202px;
  top: 730px;
}

.estagiaria-text {
  color: #626469;
  text-align: left;
  font: 400 14px/20px "Segoe UI", sans-serif;
  position: absolute;
  left: 222px;
  top: 653px;
  width: 757px;
  height: 71px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.sobre2 {
  color: rgba(0, 0, 0, 0.9);
  text-align: left;
  font: 600 20px "Segoe UI", sans-serif;
  position: absolute;
  left: 227px;
  top: 627px;
  width: 413px;
  height: 27px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.rectangle-all-publications {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #e0dfdc;
  border-width: 1px;
  width: 781px;
  height: 629px;
  position: absolute;
  left: 202px;
  top: 794px;
}

.rectangle-publications-2 {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #e0dfdc;
  border-width: 1px;
  width: 365px;
  height: 470px;
  position: absolute;
  left: 219px;
  top: 879px;
}

.rectangle-publications {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #e0dfdc;
  border-width: 1px;
  width: 365px;
  height: 470px;
  position: absolute;
  left: 601px;
  top: 879px;
}

.gostei {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font: 400 14px/20px "Segoe UI", sans-serif;
  position: absolute;
  left: 220px;
  top: 1321px;
  width: 91px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gostei2 {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font: 400 14px/20px "Segoe UI", sans-serif;
  position: absolute;
  left: 602px;
  top: 1321px;
  width: 91px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comentar {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font: 400 14px/20px "Segoe UI", sans-serif;
  position: absolute;
  left: 311px;
  top: 1321px;
  width: 91px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comentar2 {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font: 400 14px/20px "Segoe UI", sans-serif;
  position: absolute;
  left: 693px;
  top: 1321px;
  width: 91px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.compartilhar {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font: 400 14px/20px "Segoe UI", sans-serif;
  position: absolute;
  left: 402px;
  top: 1321px;
  width: 91px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.compartilhar2 {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font: 400 14px/20px "Segoe UI", sans-serif;
  position: absolute;
  left: 784px;
  top: 1321px;
  width: 91px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enviar {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font: 400 14px/20px "Segoe UI", sans-serif;
  position: absolute;
  left: 492px;
  top: 1321px;
  width: 91px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enviar2 {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font: 400 14px/20px "Segoe UI", sans-serif;
  position: absolute;
  left: 874px;
  top: 1321px;
  width: 91px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.descubra-como-text {
  color: rgba(0, 0, 0, 0.9);
  text-align: left;
  font: 400 14px/20px "Segoe UI", sans-serif;
  position: absolute;
  left: 236px;
  top: 963px;
  width: 331px;
  height: 37px;
}
.esse-post-traz-text {
  color: rgba(0, 0, 0, 0.9);
  text-align: left;
  font: 400 14px/20px "Segoe UI", sans-serif;
  position: absolute;
  left: 609px;
  top: 961px;
  width: 352px;
  height: 37px;
}
.ver-todas-as-publica-es {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font: 600 16px "Segoe UI", sans-serif;
  position: absolute;
  left: 202px;
  top: 1375px;
  width: 781px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linha-icon-publications {
  border-style: solid;
  border-color: #e0dfdc;
  border-width: 1px 0 0 0;
  width: 781px;
  height: 0px;
  position: absolute;
  left: 202px;
  top: 1375px;
}

.rectangle-publications-image-2 {
  background: linear-gradient(to left, #979797, #979797);
  width: 363px;
  height: 190px;
  position: absolute;
  left: 220px;
  top: 1014px;
  cursor: pointer;
}

.rectangle-publications-image {
  background: linear-gradient(to left, #979797, #979797);
  width: 363px;
  height: 190px;
  position: absolute;
  left: 602px;
  top: 1014px;
  cursor: pointer;
}

.rectangle-publications-text-2 {
  background: #eef3f8;
  width: 363px;
  height: 73px;
  position: absolute;
  left: 220px;
  top: 1204px;
}

.rectangle-publications-text {
  background: #eef3f8;
  width: 363px;
  height: 73px;
  position: absolute;
  left: 602px;
  top: 1204px;
}

.vector-text {
  position: absolute;
  left: 346px;
  top: 1298px;
  overflow: visible;
}

.vector-text2 {
  position: absolute;
  left: 728px;
  top: 1298px;
  overflow: visible;
}

.vector-share {
  position: absolute;
  left: 436px;
  top: 1299px;
  overflow: visible;
}

.vector-share2 {
  position: absolute;
  left: 818px;
  top: 1299px;
  overflow: visible;
}

.vector-privado {
  position: absolute;
  left: 527px;
  top: 1296px;
  overflow: visible;
}

.vector-privado2 {
  position: absolute;
  left: 909px;
  top: 1296px;
  overflow: visible;
}

.vector-like {
  position: absolute;
  left: 256px;
  top: 1296px;
  overflow: visible;
}

.vector-like2 {
  position: absolute;
  left: 638px;
  top: 1296px;
  overflow: visible;
}

.joana-ramos-publications-image {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 620px;
  top: 894px;
  cursor: pointer;
}

.joana-ramos-name-publications {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 669px;
  top: 891px;
  cursor: pointer;
}

.days-public-icon-image {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 669px;
  top: 929px;
}

._4-d {
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  font: 400 12px/10px "Segoe UI", sans-serif;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.frame {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

._189-seguidores4 {
  width: 194px;
  height: 11px;
  position: absolute;
  left: 669px;
  top: 914px;
}

._189-seguidores5 {
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  font: 400 13px/15px "Segoe UI", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 194px;
  height: 11px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.joana-ramos-name-publications2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 287px;
  top: 891px;
}

.days-public-icon-image2 {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 287px;
  top: 929px;
  cursor: pointer;
}

._1-d {
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  font: 400 12px/10px "Segoe UI", sans-serif;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.frame2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

._189-seguidores6 {
  width: 194px;
  height: 11px;
  position: absolute;
  left: 287px;
  top: 914px;
}

.conectados-text {
  color: rgba(0, 0, 0, 0.9);
  text-align: left;
  font: 600 14px/20px "Segoe UI", sans-serif;
  position: absolute;
  left: 236px;
  top: 1212px;
  width: 331px;
  height: 37px;
}

.desvendando-a-sustentabilidade-text {
  color: rgba(0, 0, 0, 0.9);
  text-align: left;
  font: 600 14px/20px "Segoe UI", sans-serif;
  position: absolute;
  left: 618px;
  top: 1212px;
  width: 331px;
  height: 37px;
}

.backward-icon {
  position: absolute;
  inset: 0;
}

.group-46 {
  position: absolute;
  left: 888px;
  top: 821px;
  overflow: visible;
}

.forward-icon {
  position: absolute;
  left: 928px;
  top: 821px;
  overflow: visible;
}

.publicacoes-anteriores {
  color: rgba(0, 0, 0, 0.9);
  text-align: left;
  font: 600 20px "Segoe UI", sans-serif;
  position: absolute;
  left: 227px;
  top: 821px;
  width: 413px;
  height: 27px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.joana-ramos-publications-image2 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 236px;
  top: 894px;
}

.joana-ramos-profile-icon {
  width: 108px;
  height: 110px;
  position: absolute;
  left: 229px;
  top: 216px;
}