@media (max-width: 767px) {
  .navbar-mobile {
      padding: 40px; /* Adiciona 40 pixels de espaço ao redor da nav em mobile */
  }
}
.body {
  width: 100%;
}

.nav-link:hover {
  color: #3DCD58;
}

.background-color {
  background-color: #f8f8f8;
}

.text-schneider-color {
  color: #3DCD58
}


/* Header Profile */


.rank-headercontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.rank-headerorganize {
  width: 85%;
  justify-content: center;
  height: 25rem;
  max-height: 80rem;
  min-width: 28rem;
  border: 1px solid #E0DFDC;
  background-color: white;
  align-items: center; 
  border-radius: 5px;
}

@media (max-width: 500px) {
  .rank-headerorganize{
    width: 10%;
    height: 1250px;
  }
}



.rank-profile-background {
  width: 100%;
  background-image: url(../img/background-perfil.svg);
  height: 20%;

  @media (max-width: 1000px) {
    height: 10%;
  }
}

.rank-organize-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  @media (max-width: 1000px) {
    flex-direction: column;
  }
}

.rank-column {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-bottom: 15%;
  
  
}

.rank-img-profile {
  height: 150px;
  width: 150px;
  transform: translateY(-35px);
  margin-left: 5px;
}

/* End Header  Profile*/

/* Item MID */

.item-mid-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 42px;
}

.item-mid-subcontainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.p-item-mid {
  font-size: 12px;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #535353;
  margin: 0;
  font-family: 'Varela Round', Arial, Helvetica, sans-serif;
}

.container-progress-next {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.container-intg {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  margin-top: 24px;
}

.h3mini {
  font-size: 18px !important; 
}
/* MINI */

.numero1 {
  color: #3DCD58;

}

.containermini {
  padding-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  margin: 0 auto; 
  float: left; 


  @media (max-width: 1000px) {
    flex-direction: column;
  }
}

.minicontainer {
  margin: 3%;
}
/* Progress Indicator*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

.blocktwo {
  transform: translateY(-20px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.boxtwo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  border-radius: 50%;
}

.boxtwo::before {
  position: absolute;
  content: '';
  width: calc(100% + 28px);
  height: calc(100% + 28px);
  border-radius: 50%;
  border: 1px solid #3DCD58;
  ;
}

.boxtwo .number span {
  color: black;
}

.boxtwo .number .num {
  font-size: 20px;
  font-weight: bold;
}

.boxtwo .number .sub {
  font-size: 20px;
}

.boxtwo .title {
  font-size: 15px;
  color: black;
}


.block {
  transform: translateY(-20px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.box {
  position: relative;
  display: flex;
  padding-top: 20%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(100% - 65px);
  height: calc(100% - 65px);
  border-radius: 50%;
}

.box::before {
  position: absolute;
  content: '';
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  border-radius: 50%;
  border: 1px solid gray;
}

.box .number span {
  color: black;
}

.box .number .num {
  font-size: 35px;
  font-weight: bold;
  font-family:  'Varela Round', Arial, Helvetica, sans-serif;
}

.box .number .sub {
  font-size: 20px;
}

.box .title {
  font-size: 15px;
  color: black;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dots {
  display: block;
  position: absolute;
  z-index: 2;
  width: 65%;
  height: 65%;
  border-radius: 50%;
  transition: 2s transform, 2s opacity ease;
}

.text-header {
  font-size: 14px;
}

.dots::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  top: 5px;
  left: 50%;
  border-radius: 50%;
  background-color: #3DCD58;
  box-shadow: 0 0 5px 2px white;
  transform: translateX(-50%);
}

.svg {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: none;
  transform: rotate(-90deg);
}

.circle {
  stroke: url(#gradientStyle);
  stroke-width: 4px;
  stroke-dasharray: 503;
  stroke-dashoffset: 503;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  transition: 2s stroke-dashoffset;
}

/* Leaderboard*/

.leaderboard-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;

  @media (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
  }
}


.dados-subcontainer-1 {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 15rem;
  gap: 30px;
  border: 1px solid #E0DFDC;
  padding: 10px;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
}


.dados-subcontainer-2 {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 15rem;
  gap: 30px;
  border: 1px solid #E0DFDC;
  padding: 10px;
  margin: 10px;
  background-color: white;
  border-radius: 5px;

  @media (max-width: 1000px) {
    width: 90%;
  }
}

.dados-subcontainer-3 {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 15rem;
  gap: 30px;
  border: 1px solid #E0DFDC;
  padding: 10px;
  margin: 10px;
  background-color: white;
  border-radius: 5px;

  @media (max-width: 1000px) {
    width: 90%;
  }
}

.dados-subcontainer-4 {
  display: flex;
  flex-direction: column;
  width: 910px;
  height: 35rem;
  border: 1px solid #E0DFDC;
  padding: 10px;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  padding-left: 2%;

  @media (max-width: 1000px) {
    width: 90%;
  }
}

.big-container {
  padding-bottom: 50px;
}

.dados-subcontainer-5 {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 35rem;
  gap: 30px;
  border: 1px solid #E0DFDC;
  padding: 10px;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

 


.competition-container {
  width: 60%;
}

.competition-subcontainer-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  height: 25rem;
  padding: 5px;
  margin: 5px;
  border: 1px solid #E0DFDC;
  background-color: white;
}

.competition-subcontainer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  height: 25rem;
  padding: 5px;
  margin: 5px;
  border: 1px solid #E0DFDC;
  background-color: white;
}


.course-container {
  width: 1300px;
  align-items: center;
  justify-content: center;
}

.course-subcontainer-center {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 110%;
  height: 35rem;
  border: 1px solid #E0DFDC;
  padding: 10px !important;
  margin: 10px !important;
  background-color: white;

  @media (max-width: 1000px) {
    width: 90%;
  }
}

.leaderboard-subcontainer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 25%;
  height: 58rem;
  gap: 30px;
  border: 1px solid #E0DFDC;

  @media (max-width: 1000px) {
    width: 90%;
  }
}

.university-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;
  margin-left: 0px;

  @media (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
  }
}

.university-picture {
  margin-left: 5%;
  margin-top: 2%;
}

.schneider-academy {
  color: #3DCD58;
  padding: 2%;
}

.university-maisvistos {
  text-align: left;
}

.university-subcontainer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 25%;
  height: 58rem;
  gap: 30px;
  border: 1px solid #E0DFDC;
  margin-left: 5%;
  margin-top: 2%;

  @media (max-width: 1000px) {
    width: 90%;
  }
}

.leaderboard-h2 {
  margin-top: 10px;
  font-size: 38px;
  font-weight: 400;
  color: #3DCD58;
}

.leaderboard-row {
  display: flex;
  flex-direction: row;
}

.leaderboard-button {
  width: 177px;
  height: 55px;
  background-color: #3DCD58;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
  border-color: #3DCD58;
}

.leaderboard-button-transparent {
  width: 177px;
  height: 55px;
  align-items: center;
  background-color: transparent;
  border-color: transparent;
}

.leaderboard-line {
  width: 100%;
  height: 2px;
  background-color: #D7D7D7;
  transform: translateY(-20px);
}

.ranking-container {
  width: 0%;
}
/* TOP RANKING */

.topranking-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

/* TOP */

.top-container {
  width: 90%;
  height: 80px;
  ;
}

.top-containertwo {
  width: 90%;
  height: 55px;
}

.top-containertwo:hover {
  background-color: #f1f1f1;
}

.top-subcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0%;
  padding: 0%;
  font-size: 13px;
}

.top-organize {
  width: 80%;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.top-img {
  width: 40px;
  height: 40px;
  transform: translateY(-8px);
}

.top-line {
  width: 100%;
  height: 0.5px;
  background-color: #D7D7D7;
}

.ptop {
  color: #3DCD58;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Varela Round', Arial, Helvetica, sans-serif;
}

.ptoprank {
  font-size: 14px;
  color: #000;
  font-weight: 400;
  width: 60%;
}

.atoprank {
  font-size: 16px;
  font-weight: 400;
  color: #535353;
}

.reversedisplay {
  display: flex;
  flex-direction: row-reverse;
}

.ptoprank2 {
  font-size: 16px;
  font-weight: 400;
  color: #535353;
}

/* Competitions */

.competitions-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 35rem;
  border: 1px solid #E0DFDC;
  align-items: center;
  margin-left: 13%;
  margin-top: 1%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;

  @media screen and (max-width: 500px) {
      margin-top: 2%;
      margin-left: 8%;
      width: 85%;
      height: 400px;
      margin-bottom: 10%;

    }
  }

.competitions-subcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.competitions-p {
  font-size: 30px;
  font-weight: 400;
  color: #3DCD58;
  font-family: 'Varela Round', Arial, Helvetica, sans-serif;
  justify-content: center !important;
}

.containerbuttoncarrousel {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.containeritenscarrousel {
  display: flex;
  flex-direction: column;

  @media (max-width: 1000px) {
    width: 90%;
  }
}

.competitions-p-carrousel {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  text-align: center;
  font-family:'Varela Round', Arial, Helvetica, sans-serif;
}

.competitions-container-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  align-items: center;
  font-family: 'Varela Round', Arial, Helvetica, sans-serif;
}

.competitions-subcontainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-content: center;
}

.persons-p {
  color: rgba(0, 0, 0, 0.60);
  font-size: 14px;
  font-weight: 780;
  margin-top: 13px
}

.competitions-button {
  width: 20%;
  height: 20%;
  border: 0.5px solid #828282;
  background-color: #42B4E6;
  align-items: center;
  border-radius: 3px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.se-inscrever {
  font-size: 18px !important;
  justify-content: center;
  padding-bottom: 40%;
}

.competitions-button>p {
  font-size: 24px;
  margin-top: 8px;
  font-weight: 400;
  color: white;

}

.rank-a {
  font-size: 15px;
  font-weight: 400;
  color: #0b386e;
}

.button-seinscrever {
  width: 30%;
  background-color: #42B4E6;
  color: white;
}

.progress-bar {
  width: 70%;
  background-color: #CCCCCC;
  border-radius: 8px;
  height: 13px;
  justify-content: center;
}

.progress-fill {
  height: 100%;
  border-radius: 4px;
  justify-content: center;
}

.course-text {
  font-size: 25px;
  padding-left: 7%;
  padding-top: 1%;
  font-family: 'Varela Round', Arial, Helvetica, sans-serif;
  color:#3DCD58;
  justify-content: center;
  align-items: center;
}

.dados-container {
  padding-bottom: 2%;
}

.footer-color {
  background-color: #edf2ea;
}

.course-subtext {
  color:#000;
  font-size: 16px;
  font-family:'Courier New', Courier, monospace;
  margin-left: 7%;
  justify-content: center;
  align-items: center;
}

.course-background{
  margin: 0;
  padding: 0;
  background: #edf2ea;
}

.course-subtext-course {
  color: white;
  font-size: 16px;
  font-family:'Courier New', Courier, monospace;
  margin-left: 7%;
  justify-content: center;
  align-items: center;
}

.custom-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #42B4E6;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #0056b3;
}

.dashboard-body {
  background-color: white !important;
}

.cursos-em-andamento-container {
  padding-bottom: 20px;
}

.carousel-item img {
  height: 300px !important; /* Ou a altura desejada */
  object-fit: cover !important; /* Isso irá manter a proporção da imagem e preencher o espaço */
}

.carousel-item img {
  width: 100% !important;
}

.carousel-item img {
  max-width: none !important;
}

.carousel-caption {
  color: white !important;
  font-weight: 400;
}
