* {
  font-family: 'Varela Round', Arial, Helvetica, sans-serif;
}

body {
  overflow-x: hidden;
}

.about-us{
  background-image: url('../img/sobre-nos.svg');
  height: 400px;
  width: 100%;
}

.text-schneider-color {
  color: #3DCD58
}

.custom-container {
  transition: background-color 0.3s;
}

.custom-container:hover {
  background-color: #3DCD58 !important;
}

.text-center {
  align-items: justify !important;
}
